<template src="./template.pug" lang="pug"></template>

<script>
import { ValidationProvider } from 'vee-validate/dist/vee-validate.full';

export default {
  name: 'Input',
  components: { ValidationProvider },
  props: {
    value: {
      type: [String, Number],
      default: ''
    },
    type: {
      type: String,
      default: 'text',
      validator: value => {
        return ['text', 'number'].indexOf(value) !== -1;
      }
    },
    id: {
      type: String,
      required: true
    },
    name: {
      type: String,
      default: 'input'
    },
    label: {
      type: String,
      default: 'Label'
    },
    placeholder: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data: function() {
    return {
      inputValue: null
    };
  },
  methods: {
    emitValue(event) {
      this.$emit('input', event.target.value);
    }
  }
};
</script>
