ValidationProvider(rules='required', v-slot='{ errors, validate, classes }', slim)
  div(class='flex flex-col')
    label(class='font-bold text-xs mb-2') {{label}}
    div(class='relative w-full')
      input(
        v-model='inputValue'
        :type='type',
        :id='id',
        :name='name',
        :placeholder='placeholder',
        :disabled = 'disabled',
        @input='emitValue($event)',
        @change='validate()'
        :class="[classes.invalid ? 'border-error' : 'border-medium-gray']"
        class='w-full rounded-md p-3 focus:border-primary-blue focus:ring-0 disabled:bg-light-gray',
      )
      div(v-if='classes.invalid', class='absolute top-2/4 right-4 transform -translate-y-1/2')
        svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' class='fill-current text-error')
          path(d='M12 8V12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='fill-current text-white')
          path(d='M12 16H12.01' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='fill-current text-white')
    div(v-if='classes.invalid', class='font-bold text-xs mt-2 text-error') {{ errors[0] }}