<template src="./template.pug" lang="pug"></template>

<script>
import Accordion from '../Accordion';

export default {
  name: 'CollapsibleCard',
  components: { Accordion },
  props: {
    triggerLabel: {
      type: String,
      default: 'Trigger'
    },
    itemObject: {
      type: Object,
      default: () => {}
    },
    addButtonLabel: {
      type: String,
      default: 'Add'
    }
  },
  data: function() {
    return {
      itemsArray: [],
      isOpen: false
    };
  },
  mounted() {
    this.addItem();
  },
  methods: {
    addItem() {
      this.itemsArray.push(Object.assign({}, this.itemObject));
    },
    deleteItem(index) {
      this.itemsArray.splice(index, 1);
    },
    setIsOpen(value) {
      this.isOpen = value;
    }
  }
};
</script>
