div(class='bg-white shadow-md rounded-lg')
  accordion(@stateChange='setIsOpen')
    template(slot='trigger')
      div(class='px-3 py-2.5 sm:px-6 sm:py-5 border-b border-light-gray flex justify-between items-center')
        p(class='text-dark-knight text-xl font-bold') {{triggerLabel}}
        div(:class="{'transform rotate-180': !isOpen}" class='p-1')
          svg(width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M7 8C6.87311 8.00016 6.74744 7.97514 6.63021 7.92637C6.51298 7.8776 6.4065 7.80605 6.3169 7.71582L0.28218 1.65547C0.101351 1.47345 -0.000140144 1.2268 1.45246e-07 0.969684C0.000140435 0.712571 0.101901 0.466027 0.282928 0.28421C0.463955 0.102392 0.709444 0.0001711 0.96547 2.14596e-07C1.2215 -0.00017067 1.46712 0.101723 1.64839 0.283298L7 5.65757L12.3516 0.283298C12.5329 0.101723 12.7785 -0.00017067 13.0345 2.14596e-07C13.2906 0.0001711 13.536 0.102392 13.7171 0.28421C13.8981 0.466027 13.9999 0.712571 14 0.969684C14.0001 1.2268 13.8986 1.47345 13.7178 1.65547L7.6831 7.71582C7.5935 7.80605 7.48702 7.8776 7.36979 7.92637C7.25256 7.97514 7.12689 8.00016 7 8Z' class='fill-current text-black')
    template(slot='content')
      div(class='relative p-3 sm:p-6')
        div(v-for='(item, index) in itemsArray' :key='index' class='mb-2')
          div(@click='deleteItem(index)' class='absolute top-3 right-3 sm:top-6 sm:right-6 cursor-pointer')
            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' class='stroke-current text-black')
              path(d='M18 6L6 18' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
              path(d='M6 6L18 18' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          slot(:item='item' :index='index')
        div(@click='addItem' class='text-primary-blue flex items-center cursor-pointer')
          div(class='mr-2')
            svg(width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg' class='fill-current')
              path(d='M7.5 0.5C6.01664 0.5 4.56659 0.939867 3.33323 1.76398C2.09986 2.58809 1.13856 3.75943 0.570907 5.12987C0.00324963 6.50032 -0.145275 8.00832 0.144114 9.46318C0.433503 10.918 1.14781 12.2544 2.1967 13.3033C3.2456 14.3522 4.58197 15.0665 6.03683 15.3559C7.49168 15.6453 8.99968 15.4968 10.3701 14.9291C11.7406 14.3614 12.9119 13.4001 13.736 12.1668C14.5601 10.9334 15 9.48336 15 8C15 7.01508 14.806 6.03981 14.4291 5.12987C14.0522 4.21993 13.4997 3.39314 12.8033 2.6967C12.1069 2.00026 11.2801 1.44781 10.3701 1.0709C9.46019 0.693993 8.48492 0.5 7.5 0.5ZM10.5 8.75H8.25V11C8.25 11.1989 8.17098 11.3897 8.03033 11.5303C7.88968 11.671 7.69891 11.75 7.5 11.75C7.30109 11.75 7.11032 11.671 6.96967 11.5303C6.82902 11.3897 6.75 11.1989 6.75 11V8.75H4.5C4.30109 8.75 4.11032 8.67098 3.96967 8.53033C3.82902 8.38968 3.75 8.19891 3.75 8C3.75 7.80109 3.82902 7.61032 3.96967 7.46967C4.11032 7.32902 4.30109 7.25 4.5 7.25H6.75V5C6.75 4.80109 6.82902 4.61032 6.96967 4.46967C7.11032 4.32902 7.30109 4.25 7.5 4.25C7.69891 4.25 7.88968 4.32902 8.03033 4.46967C8.17098 4.61032 8.25 4.80109 8.25 5V7.25H10.5C10.6989 7.25 10.8897 7.32902 11.0303 7.46967C11.171 7.61032 11.25 7.80109 11.25 8C11.25 8.19891 11.171 8.38968 11.0303 8.53033C10.8897 8.67098 10.6989 8.75 10.5 8.75Z')
          p(class='text-l font-bold') {{addButtonLabel}}

