<template src="./template.pug" lang="pug"></template>

<script>
export default {
  name: 'Button',
  props: {
    id: {
      type: String,
      required: true
    },
    name: {
      type: String,
      default: 'button'
    },
    label: {
      type: String,
      default: 'Button'
    },
    disabled: {
      type: Boolean,
      default: false
    },
    stretched: {
      type: Boolean,
      default: false
    },
    variant: {
      type: String,
      default: 'primary',
      validator: value => {
        return ['primary', 'secondary'].indexOf(value) !== -1;
      }
    },
    size: {
      type: String,
      default: 'medium',
      validator: value => {
        return ['large', 'medium', 'small'].indexOf(value) !== -1;
      }
    },
    onClick: {
      type: Function,
      default: () => 1
    }
  },
  methods: {
    getVariantClasses() {
      if (this.variant === 'primary') {
        return 'bg-primary-blue text-white';
      } else {
        return 'bg-white text-primary-blue';
      }
    },
    getSizeClasses() {
      if (this.size === 'small') {
        return 'py-1 px-4 rounded-xs';
      }
      if (this.size === 'medium') {
        return 'py-2.5 px-6 rounded';
      }
      if (this.size === 'large') {
        return 'py-3.5 px-8 rounded-md';
      }
    },
    getStretchClasses() {
      if (this.stretched) return 'w-full';
    },
    getStyleClasses() {
      return [this.getVariantClasses(), this.getSizeClasses(), this.getStretchClasses()];
    }
  }
};
</script>
