button(
  class='border-2 border-primary-blue font-semibold shadow-md disabled:opacity-45 disabled:cursor-default m-1',
  :class='getStyleClasses()',
  :id='id',
  :name='name',
  :disabled='disabled'
  @click='onClick'
) {{ label }}