<template src="./template.pug" lang="pug"></template>

<script>
export default {
  name: 'Modal',
  props: {
    value: {
      type: Boolean,
      default: false
    },
    heading: {
      type: String,
      default: 'Modal heading'
    }
  },
  data: function() {
    return {
      showModal: false
    };
  },
  watch: {
    value(value) {
      this.showModal = value;
    }
  },
  methods: {
    closeModal() {
      this.$emit('input', false);
    }
  }
};
</script>
