transition(
  enter-active-class='transition-opacity duration-200 ease-in-out'
  leave-active-class='transition-opacity duration-200 ease-in-out'
  enter-class='opacity-0'
  leave-to-class='opacity-0'
  enter-to-class='opacity-1'
  leave-class='opacity-1'
)
  div(v-if='showModal' class='fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center')
    div( class='bg-white max-w-screen-md mx-4 px-4 py-3 shadow-2xl rounded-lg sm:px-8 sm:py-6')
      div(class='mb-3 flex justify-between sm:mb-6')
        p(class='text-dark-knight text-xl font-bold') {{ heading }}
        div(class='cursor-pointer' @click='closeModal')
          svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' class='stroke-current text-black')
            path(d='M18 6L6 18' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            path(d='M6 6L18 18' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      slot