<template>
  <div id="app" class="md:w-50vw p-10">
    <collapsible-card
      :item-object="{
        rebate: '',
        owner: '',
        startDate: '',
        endDate: '',
        marketplace: ''
      }"
      trigger-label="Promotions"
      add-button-label="Add another promo"
    >
      <template v-slot:default="props">
        <p class="text-dark-knight text-l font-bold mb-2">Promotion {{ props.index + 1 }}</p>
        <div class="py-2.5">
          <Input :id="'rebate-' + props.index + 1" v-model="props.item.rebate" label="Promo rebate" />
        </div>
        <div class="py-2.5">
          <Input :id="'owner-' + props.index + 1" v-model="props.item.owner" label="Owner of promo" />
        </div>
        <div class="flex py-2">
          <div class="mr-8 w-full">
            <Input :id="'startDate-' + props.index + 1" v-model="props.item.startDate" label="Promo start date" />
          </div>
          <div class="w-full">
            <Input :id="'endDate-' + props.index + 1" v-model="props.item.endDate" label="Promo end date" />
          </div>
        </div>
        <div class="py-2.5">
          <Input
            :id="'marketplace-' + props.index + 1"
            v-model="props.item.marketplace"
            label="Applicable marketplace"
          />
        </div>
      </template>
    </collapsible-card>
  </div>
</template>

<script>
import CollapsibleCard from './components/CollapsibleCard';
import Input from './components/Input';

export default {
  name: 'App',
  components: { CollapsibleCard, Input }
};
</script>
