<template src="./template.pug" lang="pug"></template>

<script>
export default {
  name: 'Accordion',
  props: {},
  data: function() {
    return {
      isOpen: false
    };
  },
  methods: {
    toggleOpen() {
      this.isOpen = !this.isOpen;
      this.$emit('stateChange', this.isOpen);
    }
  }
};
</script>
